@font-face {
  font-family: "1009";
  src: url("/public/fonts/a시월구일1.ttf") format("truetype");
  font-weight: normal;
}
* {
  box-sizing: border-box;

  font-family: "1009", serif;
}

:root {
  --color-beige: #ecb390;
  --color-skin: #fcf8e8;
  --color-light-green: #cee5d0;
  --color-green: #94b49f;
}
body {
  margin-top: 150px;
}
.nav_bar {
  width: 100vw;
  height: 150px;
  background-color: var(--color-beige);
  position: fixed;
  top: 0px;
  font-family: "1009";
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 20px;
}
.userBox {
  display: flex;
  position: absolute;
  right: 20px;
}
@media screen and (max-width: 1140px) {
  .userBox {
    display: none;
  }
}

.searchBox {
  margin-top: 33px;
}
@media screen and (max-width: 990px) {
  .searchBox {
    display: none;
  }
}

.modal-content {
  width: 800px;
}
.modal-body {
  display: flex;
  justify-content: center;
}

.modal-dialog {
  width: 800px;
}
.modal {
  --bs-modal-width: 800px;
}
