@font-face {
  font-family: "1009";
  src: url("../../public/fonts/a시월구일1.ttf") format("truetype");
  font-weight: normal;
}
* {
  box-sizing: border-box;

  font-family: "1009", serif;
}

:root {
  --color-beige: #ecb390;
  --color-skin: #fcf8e8;
  --color-light-green: #cee5d0;
  --color-green: #94b49f;
}
body {
  margin-top: 150px;
}
.animation {
  transition: all 0.5s ease;
}
.animation:hover {
  transform: scale(1.2);
}
.nav_bar {
  width: 100vw;
  height: 150px;
  background: white;
  border-bottom: 1px solid silver;
  position: fixed;
  top: 0px;
  font-family: "1009";
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 20px;
}
.userBox {
  display: flex;
  position: absolute;
  right: 20px;
}
@media screen and (max-width: 1190px) {
  .userBox {
    display: none;
  }
}

.searchBox {
  margin-top: 33px;
  display: flex;
}
@media screen and (max-width: 1040px) {
  .searchBox {
    display: none;
  }
}

.modal-content {
  width: 800px;
}
.modal-body {
  display: flex;
  justify-content: center;
}

.modal-dialog {
  width: 800px;
}
.modal {
  --bs-modal-width: 800px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: grey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
