#createForm {
  width: 800px;
  background: var(--color-skin);
  padding: 50px;
  border: solid 1px black;
}

.checkList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.checkList select {
  width: 100px;
  margin-left: 10px;
}
.category {
  display: flex;
}
.category select {
  width: 100px;
  height: 30px;
}
.formBox {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.formBox div {
  width: 100px;
}
textarea {
  height: 300px;
}
textarea,
.text {
  width: 600px;
}
.buttonBox {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
