@font-face {
    font-family: "1009";
    src: url("/public/fonts/a시월구일1.ttf") format("truetype");
    font-weight: normal;
  }
.container {
    width: 1440px;
    height: 1800px;
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    background-color: #F5F5F5;
    font-family: "1009";
}
.postbar{
    width: 1300px;
    display: flex;
    flex-direction: row;
    
}
button{
    margin:10px;
    border: 1px solid;
	border-radius: 4px;
    padding: 8px 8px;
}
select{
    margin: 10px;
    display: block;
	width: 100%;
	padding: 8px 8px;
	font-size: inherit;
	line-height: inherit;
	border: 1px solid;
	border-radius: 4px;
	color: inherit;
	background-color: transparent;
	
}
select:focus {
    
}
.title{
    margin: 10px;
    width: 1300px;
    
}

textarea{
    margin: 10px;
    width: 700px;
    height: 800px;
}
.map{
    margin: 10px;
    width: 600px;
    height: 800px;
}