.postList {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 105px 110px;
  justify-items: center;
  align-items: start;
}
.postTitle {
  font-size: 20px;
  width: 300px;
  height: 30px;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.textBox {
  width: 300px;
  height: 160px;
  padding: 10px 0;
  font-size: 13px;
}
@media (min-width: 768px) {
  .postList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .postList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.loading {
  height: 40px;
  width: 40px;
  background: var(--color-skin);
  border-radius: 50%;
  border-top: 2px solid #1d9af2;
  border-right: 2px solid transparent;
  border-bottom: none;
  border-left: none;
  animation: spinner5 700ms linear infinite;
}
@keyframes spinner5 {
  to {
    transform: rotate(360deg);
  }
}
